@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseBorder {
  0% {
    border-color: rgb(0, 255, 255);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  }
  50% {
    border-color: rgb(0, 255, 255);
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.5);
  }
  100% {
    border-color: rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  }
}

.animated-border {
  animation: pulseBorder 2s infinite ease-in-out;
}
